{% extends 'base.html.twig' %}
{% block body %}
    <table border="1" valign="center" width="100%">
        <tr>
            <td>
                <h4>{{ 'User Information' | trans }}</h4>
                ID: {{ user.getId() }} <br>
                {{ 'Username' | trans }}: {{ user.getUsername() }} <br>
                Email: {{ user.getEmail() }} <br>
                {#BCrypt: {{ user.getPassword() }}#}
            </td>
            {% if user.getUserAvatarFilename() %}
                <td width="37%" align="right">
                    <img src="{{ asset('uploads/img/' ~ user.getUserAvatarFilename()) }}" height="150">
                </td>
            {% endif %}
        </tr>
    </table>

    {% if form %}
        {{ form_start(form, {'multipart': true}) }}
        <div>
            <table>
                <tr>
                    <td>
                        {{ form_row(form.friend) }}
                        {{ form_row(form.msg) }}
                        {{ form_row(form.submit) }}
                    </td>
                </tr>
            </table>
        </div>
        {{ form_end(form) }}
    {% endif %}

{% endblock %}
{% block sidepanel %}
    {{ parent() }}
{% endblock %}