{% extends 'base.html.twig' %}
{% block body %}
    {#<h3>    Welcome {{ app.user ? app.user.username : 'Anonymous' }} <br></h3>#}
    {# <h3>    Welcome {{ user.getUsername()}} <br></h3>#}
    <table border="1" valign="center" width="100%">
        <tr>
            <td>
                <h4>User Information</h4>
                ID: {{ user.getId() }} <br>
                Username: {{ user.getUsername() }} <br>
                Email: {{ user.getEmail() }} <br>
                {#BCrypt: {{ user.getPassword() }}#}
                {% if updatable %}
                    <br>
                   <a href="/user/{{ app.user.username }}/update">Change Profile</a>
                {% endif %}
            </td>
            {% if user.getUserAvatarFilename() %}
                <td width="37%" align="right">
                    <img src="{{ asset('uploads/img/' ~ user.getUserAvatarFilename()) }}" height="150">
                </td>
            {% endif %}
        </tr>
    </table>
    {#
    {% if form %}
        <!-- Renders the start tag of the form, including the correct enctype attribute when using file uploads. -->
        {{ form_start(form) }}
        <div>
            <table>
                <tr>
                    <td>{{ form_row(form.title) }} </td>
                </tr><tr>
                    <td>{{ form_row(form.content) }}</td>
                </tr><tr>
                    <td>{{ form_row(form.submit) }}</td>
                </tr>
            </table>
        </div>
        {{ form_end(form) }}
    {% endif %}
    #}
    <h4>Blog Posts</h4>
    {% if messages  %}
        <table border="1" valign="center" width="100%">
            {% for m in messages %}
                <tr>
                    <td rowspan="2">
                            {% if m.getUser() %}
                            {% if m.getUser().getUserAvatarFilename() %}
                                <img src="{{ asset('uploads/img/' ~ m.getUser().getUserAvatarFilename()) }}" height="50">
                            {% endif %}
                        {% else %}
                            <img src="{{ asset('uploads/img/blank.jpg') }}" height="50">
                        {% endif %}
                    </td>
                    <td>{{ m.getAuthor() }}</td>
                    <td width="50%">{{ m.getTitle() }}</td>
                    <td align="right">{{ m.getDate()|date('d.m.Y, H:i') }}</td>
                </tr>
                <tr>
                    <td colspan="3" >{{ m.getContent() }}  </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
{% block sidepanel %}
    {{ parent() }}
    {{ render(controller('AppBundle:Default:userPanel')) }}
{% endblock %}