{% extends 'base.html.twig' %}
{% block body %}
    <table border="1" valign="center" width="100%">
        <tr>
            <td>
                <h4>Product Information</h4>
                ID: {{ product.getId() }} <br>
                Name: {{ product.getName() }} <br>
                Price: {{ product.getPrice() }} €<br>
                Description: {{ product.getDescription() }} <br>
                {# BCrypt: {{ user.getPassword() }} #}
                {% if product.getBrochure() %}
                    Brochure: <a href="{{ asset('uploads/document/' ~ product.getBrochure()) }}">View PDF</a>
                {% endif %}
            </td>
            {% if product.getImage() %}
                <td width="37%" align="right">
                    <img src="{{ asset('uploads/img/' ~ product.getImage()) }}" height="150">
                </td>
            {% endif %}
        </tr>
    </table>
{% endblock %}
{% block sidepanel %}
    {{ parent() }}
    {{ render(controller('AppBundle:Default:userPanel')) }}
{% endblock %}