{% extends 'base.html.twig' %}
{% block body %}

    {% if categories %}
        {% for c in categories %}
            <div class="container">
                <div class="top">
                    <h4>{{ 'Category' | trans }}: {{ c.getName() }}</h4>
                </div>
                <div class="main">
                    {% for product in c.getProducts() %}
                        <div class="box">
                            <p>
                                {#<a  href="/orm/show/{{ p.getId() }}">{{ p.getName() }} </a>#}
                                <a href="{{ path('orm_index', {'id': product.getId() } ) }}"> {{ product.getName() }} </a>

                            </p>
                            {% if product.getImage() %}
                                <img src="{{ asset('uploads/img/' ~ product.getImage()) }}" width="200" height="150">
                            {% else %}
                                <img src="{{ asset('uploads/img/blank.jpg') }}" height="150">
                            {% endif %}
                            <p><b>{{ product.getPrice() }} € </b></p>
                            {#
                                {% if p.getBrochure() %}
                                    <a href="{{ asset('uploads/document/' ~ p.getBrochure()) }}">View PDF</a>
                                {% endif %}
                                </p>
                            #}
                        </div>
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
    {% endif %}

{% endblock %}
{% block sidepanel %}
    {{ parent() }}
    {{ render(controller('AppBundle:Default:userPanel')) }}
{% endblock %}